<h2>if can helper</h2>

{{#if-can "write post"}}
  <button id="write-post">Write</button>
{{else}}
  <p id="cant-write">You cannot write a post</p>
{{/if-can}}

<h2>if with resource</h2>

{{#if-can "edit post" post}}
  <button id="edit-post">Edit</button>
{{else}}
  <p id="cant-edit">You cannot edit this post</p>
{{/if-can}}

<h2>helper with additional attributes</h2>

{{#if-can "change author for post" post author=bob}}
  <p id="can-with-additional">Can change author</p>
{{else}}
  <p id="cant-with-additional">Can't change author</p>
{{/if-can}}

{{input value=bob.id id="author-id-input"}} (post author is {{post.author}})

<h2>bound ability</h2>

{{#if canWritePost}}
  <p id="write-post-binding">Can Write Post</p>
{{else}}
  <p id="cant-write-post-binding">Can't Write Post</p>
{{/if}}

<button {{action "selectEditable"}} id="select-editable">Editable Post</button> <button {{action "selectOther"}} id="select-non-editable">Another Post</button>

{{session}} {{session.user}}